html {
  overflow-y: hidden !important;
  background: rgb(var(--v-theme-background));
}
* {
  overflow-wrap: break-word;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.file-list-item-selected {
  background-color: var(--n-merged-color-hover);
}
.file-select * {
  color: rgb(56, 136, 197) !important;
}
.file-discard * {
  color: rgb(208, 58, 83) !important;
}
.file-list-item * {
  pointer-events: none;
}
